.project-card{
    background-color: rgb(249, 252, 255);
    margin: 8pt;
    width: 150pt;
    height: 150pt;
    border-radius: 25pt;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.project-card:hover{
    background-color: rgb(227, 226, 255);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.icon{
    height: 100px;
    width: 100px;
}