.taskCard:not(hover){
    background-color: rgb(207, 235, 235);
    height: 50pt;
    width: 40vw;
    border-radius: 25px;
    margin: 5px;
}

.taskContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38vw;
}

.button{
    background-color: #ADB5FF;
    border-color: #8F8F8F;
    border-style:solid;
    border-width: 1px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    border-radius: 10px;
    width: 50pt;
    height: 20pt;
    font-size: 10pt;
    margin: 5pt;
}

.button:hover{
    background-color: #98a2ff;
}