.authContent{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    font-size: large;
    height: 60pt;
    width: 230pt;
    margin: 1pt;
}

.button{
    background-color: #ADB5FF;
    border-color: #8F8F8F;
    border-style:solid;
    border-width: 1px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    border-radius: 10px;
    width: 150pt;
    height: 30pt;
    font-size: 14pt;
    margin: 5pt;
}

.button:hover{
    background-color: #98a2ff;
}