.body{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.myProjects{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10pt;
    display: flex;
    flex-direction: row;
}

.otherProjects{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10pt;
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) { 
    .body{

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .projects{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .myProjects{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10pt;
        display: flex;
        flex-direction: column;
    }
    
    .otherProjects{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10pt;
        display: flex;
        flex-direction: column;
    }
}